body {
    margin: 0;
    display: flex;
}

#canvas {
    width: 70%;
    height: 100vh;
}

.gui{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    display: table;
    padding: 0;
}

.table-row {
    display: table-row;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.table-cell {
    display: table-cell;
}

.table-cell:first-child {
    width: 175px;
}

button {
    z-index: 1;
    width: 100px;
    height: 50px;
    margin-top: 50px; 
}

button:hover{
    cursor: pointer;
}


